{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link defer rel="stylesheet" type="text/css" media="screen" href="{% static 'css/aborto.css' %}">    
    <script defer type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script defer src="{% static 'js/aborto.js' %}"></script>
</head>
<body onload="updateCounter();setInterval('updateCounter()',1000);">
    <div class="fondo"></div>
    <div class = "centro">
        <div class="a item">
        </div>
        <div class="b item">
        </div>
        <div class="d item">
        </div>
    </div>
    <div class = "centro">
        <div id="t1" class="item etiqueta">abortos en toda la humanidad</div>
        <div id="t2" class="item etiqueta">abortos este año</div>
        <div id="t3" class="item etiqueta">abortos hoy</div>
    </div>
    <div class="centro principal">
        <h1 class="c item">

        </h1>
    </div>
    <div class="centro principal">
        <h1 id="t4" class="etiqueta item">
            abortos desde que abriste esta pagina
        </h1>
    </div>
    <div class="luto">
            <img src="https://i.pinimg.com/originals/89/fa/00/89fa0051ed4e753547d8b63f776dcadd.png" alt="" class="bye">

    </div>
</body>
</html>