{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link defer rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">    
    <script defer type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class = "consola">
        <p class="top">
            <img src="{% static 'img/iconCmd.png' %}" style="background-color: white; width: 15px;">  
            Símbolo del sistema
        </p>
        <p>
        </p>
        <p class="print contenido">
        </p>
        <p class="sombras contenido">
        </p>
    </div>

</body>
</html>