    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link defer rel="stylesheet" type="text/css" media="screen" href="{% static 'css/sombras.css' %}">    
    <script defer type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script defer src="{% static 'js/Concurrent.Thread.js' %}"></script>
    <script defer src="{% static 'js/sombras.js' %}"></script>
</head>
<body>
    <div class="bye">🎇</div>
    <div class="contenedor">
        {% if  device %}
            <img src="{% static 'img/juntosLado.jpg' %}" id="a0">
            <img src="{% static 'img/juntosLadoa.5.jpg' %}" id="a1">
            <img src="{% static 'img/juntosLadoa1.jpg' %}" id="a2">
            <img src="{% static 'img/juntosLadoa2.jpg' %}" id="a3">
            <img src="{% static 'img/juntosLadoa3.jpg' %}" id="a4">
            <img src="{% static 'img/juntosLadoa4.jpg' %}" id="a5">
            <img src="{% static 'img/juntosLadoa5.jpg' %}" id="a6">
            <img src="{% static 'img/juntosLadoa6.jpg' %}" id="a7">
            {% else %}
            <img src="{% static 'img/juntos.jpg' %}" id="a0">
            <img src="{% static 'img/juntosa.5.jpg' %}" id="a1">
            <img src="{% static 'img/juntosa1.jpg' %}" id="a2">
            <img src="{% static 'img/juntosa2.jpg' %}" id="a3">
            <img src="{% static 'img/juntosa3.jpg' %}" id="a4">
            <img src="{% static 'img/juntosa4.jpg' %}" id="a5">
            <img src="{% static 'img/juntosa5.jpg' %}" id="a6">
            <img src="{% static 'img/juntosa6.jpg' %}" id="a7">
        {% endif %}
       
    </div>
</body>
</html>